/* Design & Developed by - Chaniru Sethum
 - 2022 - 06 - DEC - SRI LANKA
 - CHANIRU.LK 
 All rights reserved 2022 ©*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    height: 100vh;
    cursor: none;
    font-family: 'Montserrat', sans-serif;
    background-color: #23211E;
    color: white;
}
.cursor { 
   width: 5rem;
   height: 5rem;
   position: fixed;
   border-radius: 100%;
   z-index: 99;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
}
.cursor-inner {
   top: 0;
   left: 0;
   background: #FF6759;
}
.cursor-inner.hover { 
   mix-blend-mode: difference;
}
.cursor-outer {
   top: 0;
   left: 0;
   border: 1px solid #FF6759;
}
#loader{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: #FF6759;
	z-index: 999;
}
#loader-img{
  height: 50px;
  width: auto;
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
  -webkit-animation: animateHeart 2.5s infinite;
  animation: animateHeart 2.5s infinite;
}
#loader-img:before,
#loader-img:after {
  -webkit-transform: rotate(-45deg) translateZ(0);
  transform: rotate(-45deg) translateZ(0);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.heart:after {
  -webkit-transform: rotate(45deg) translateZ(0);
  transform: rotate(45deg) translateZ(0);
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
@-webkit-keyframes animateHeart {
  0% {
    -webkit-transform: scale(0.8);
  }
  5% {
    -webkit-transform: scale(0.9);
  }
  10% {
    -webkit-transform: scale(0.8);
  }
  15% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(0.8);
  }
}
@keyframes animateHeart {
  0% {
    transform: scale(0.8);
  }
  5% {
    transform: scale(0.9);
  }
  10% {
    transform: scale(0.8);
  }
  15% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(0.8);
  }
}
.logo-head{
    position: fixed;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    justify-content: flex-start;
    left: 1%;
    top: 1%;
    z-index: 2;
}
.navbar {
    overflow: hidden; 
    position: fixed;
    width: 100%;
    height: 40px;
    z-index: 1;
    background-color: #23211E;
    border-bottom:  1px solid rgb(255, 255, 255);
}
.links { 
  font-weight: bold;
  float: right;
  color: white;
  justify-content: flex-end;
  display: block;
  text-align: center; 
  text-decoration: none;
  font-size: 1em; 
  padding: 10px 15px;
  text-transform: uppercase;
}
.links:hover{
  color: white;
  text-shadow: 0 0 10px #000000; 
}
.lanka{
    font-size: 0.5em;
}
.about-container{
    height: 100vh;
    overflow: hidden;
}
.our-text{
    position: absolute;
    top: 15%;
    left: 2%;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
}
.contact-location{
    position: absolute;
    top: 22%;
    left: 2%;
    font-size: 2em;
    text-align: left;
    font-weight: bold;
}
.location-head{
    font-size: 0.7em;
    font-weight: normal;
}
.contact-time{
    position: absolute;
    top: 45%;
    left: 2%;
    font-size: 2em;
    text-align: left;
    font-weight: bold;
}
.location-social{
    position: absolute;
    top: 65%;
    font-size: 1.4em;
    left: 2%;
}
.link-on{
    position: absolute;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    top: 73%;
    left: 2%;
}
.link-tw{
    position: absolute;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    top: 73%;
    left: 12%;
}
.link-thre{
    position: absolute;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    top: 73%;
    left: 22%;
}
.link-fou{
    position: absolute;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    top: 73%;
    left: 32%;
}
.link-fiv{
    position: absolute;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    top: 73%;
    left: 42%;
}
.link-six{
    position: absolute;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    top: 73%;
    left: 52%;
    font-weight: bold;
    color: #FF6759;
}
.linkin:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.linkin:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.logo-foot{
  position: absolute;
  font-size: 5em;
  text-align: center;
  top: 78%;
}
.redder{
  color: #FF6759;
}
.privacy-btn{
  position: absolute;
  color: white;
  background-color: black;
  font-size: 1em;
  padding: 6px 50px;
  border-radius: 50px;
  text-decoration: none;
  top: 93%;
  right: 5%;
  transition: 2s ease-in-out;
  z-index: 2;
}
.privacy-btn:hover{
  background-color: #FF6759;
  transition: 2s ease-in-out;
}
.terms-btn{
  position: absolute;
  color: white;
  background-color: black;
  font-size: 1em;
  padding: 6px 50px;
  border-radius: 50px;
  text-decoration: none;
  top: 93%;
  right: 30%;
  transition: 2s ease-in-out;
  z-index: 2;
}
.terms-btn:hover{
  background-color: #FF6759;
  transition: 2s ease-in-out;
}
.chaniru-btn{
  position: absolute;
  color: white;
  background-color: black;
  font-size: 1em;
  padding: 6px 50px;
  border-radius: 50px;
  text-decoration: none;
  top: 93%;
  left: 3%;
  transition: 2s ease-in-out;
  z-index: 2;
}
.chaniru-btn:hover{
  background-color: #FF6759;
  transition: 2s ease-in-out;
}