/* Design & Developed by - Chaniru Sethum
 - 2022 - 06 - DEC - SRI LANKA
 - CHANIRU.LK 
 All rights reserved 2022 ©*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body{
    height: 100vh;
    cursor: none;
    font-family: 'Montserrat', sans-serif;
    background-color: #F9F2ED;
    color: black;
}
.cursor { 
   width: 5rem;
   height: 5rem;
   position: fixed;
   border-radius: 100%;
   z-index: 99;
   pointer-events: none;
   display: flex;
   align-items: center;
   justify-content: center;
}
.cursor-inner {
   top: 0;
   left: 0;
   background: #FF6759;
}
.cursor-inner.hover { 
   mix-blend-mode: color-burn;
}
.cursor-outer {
   top: 0;
   left: 0;
   border: 1px solid #FF6759;
}
#loader{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: #FF6759;
	z-index: 999;
}
#loader-img{
  height: 50px;
  width: auto;
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
  -webkit-animation: animateHeart 2.5s infinite;
  animation: animateHeart 2.5s infinite;
}
#loader-img:before,
#loader-img:after {
  -webkit-transform: rotate(-45deg) translateZ(0);
  transform: rotate(-45deg) translateZ(0);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.heart:after {
  -webkit-transform: rotate(45deg) translateZ(0);
  transform: rotate(45deg) translateZ(0);
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
@-webkit-keyframes animateHeart {
  0% {
    -webkit-transform: scale(0.8);
  }
  5% {
    -webkit-transform: scale(0.9);
  }
  10% {
    -webkit-transform: scale(0.8);
  }
  15% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(0.8);
  }
}
@keyframes animateHeart {
  0% {
    transform: scale(0.8);
  }
  5% {
    transform: scale(0.9);
  }
  10% {
    transform: scale(0.8);
  }
  15% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(0.8);
  }
}
.logo-head{
    position: fixed;
    font-size: 1.2em;
    font-weight: bold;
    color: black;
    justify-content: flex-start;
    left: 1%;
    top: 1%;
    z-index: 2;
}
.navbar {
    overflow: hidden; 
    position: fixed;
    width: 100%;
    height: 40px;
    z-index: 1;
    background-color: #F9F2ED;
    border-bottom:  1px solid black;
}
.links { 
  font-weight: bold;
  float: right;
  color: black;
  justify-content: flex-end;
  display: block;
  text-align: center; 
  text-decoration: none;
  font-size: 1em; 
  padding: 10px 15px;
  text-transform: uppercase;
}
.links:hover{
  color: white;
  text-shadow: 0 0 10px #000000; 
}
.lanka{
    font-size: 0.5em;
}
.serivces-home{ 
    height: 160vh; 
}
.services-title-one{
    position: relative;
    font-size: 5em; 
    text-align: left;
    justify-content: flex-end;
    top: 25%;
    left: 2%;
}
.circle-services-one{
    position: relative;
    top: 25.5%;
    left: 2%;
    height: 60px;
    width: 60px;
    background-color: #FF6759;
    border-radius: 50px;
}
.services-title-two{
    position: relative;
    font-size: 5em; 
    text-align: left;
    justify-content: flex-end;
    top: 17.5%;
    left: 10%;
}
.ser-star{
    position: absolute;
    top: 55%;
    height: 30px;
    width: 30px;
    left: 2%;
}
.ser-star-text{
    position: absolute;
    left: 6%;
    font-size: 1em;
    font-weight: bold;
    top: 55%;
}
.ser-side-text-one{
    position: absolute;
    top: 55%;
    right: 33%;
    text-align: left;
    font-weight: bold;
    font-size: 1.2em;
}
.ser-side-text-two{
    position: absolute;
    top: 55%;
    right: 5%;
    text-align: left;
    font-weight: bold;
    font-size: 1.2em;
}
.serivces-bottom{
    height: 350vh; 
}
.ser-marquee {
    margin: 0 auto;
    white-space: nowrap;
    mix-blend-mode: difference;
    overflow: hidden;
    position: absolute;
    color: black;
    top: 10%;
}
.ser-marquee span {
    font-size: 8em;
    display: inline-block;
    padding-left: 100%;
    animation: marquee 160s linear infinite;
}
@keyframes marquee {
    0% {
      transform: translate(-50%, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
}
.ser-bot-circle-one{
    position: absolute;
    top: 24%;
    left: 2%;
    height: 60px;
    width: 60px;
    background-color: #FF6759;
    border-radius: 50px;
}
.bot-title-one{
    position: absolute;
    font-size: 5em; 
    text-align: left;
    justify-content: flex-end;
    top: 23%;
    left: 10%;
}
.star-bot-one{
    position: absolute;
    top: 30%;
    height: 30px;
    width: 30px;
    left: 2%;
}
.star-bot-title-one{
    position: absolute;
    left: 6%;
    font-size: 1em;
    font-weight: bold;
    top: 30%;
}
.bot-sub-one{
    position: absolute;
    top: 30%;
    right: 33%;
    text-align: left;
    font-weight: bold;
    font-size: 1.2em;
}
.bot-sub-two{
    position: absolute;
    top: 30%;
    right: 5%;
    text-align: left;
    font-weight: bold;
    font-size: 1.2em;
}
.filler-bot-one{
    position: relative;
    height: 130vh;
    width: 100%;
    top: 40%;
}
.bot-box-filler{
    height: 100%;
    width: 100%;
    object-fit: fill;
}
.start-bot-two{
    position: absolute;
    top: 76%;
    height: 30px;
    width: 30px;
    left: 2%;
}
.bot-sub-three{
    position: absolute;
    top: 76%;
    right: 33%;
    text-align: left;
    font-weight: bold;
    font-size: 1.2em;
}
.star-bot-title-two{
    position: absolute;
    left: 6%;
    font-size: 1em;
    font-weight: bold;
    top: 76%;
}
.bot-sub-four{
    position: absolute;
    top: 76%;
    right: 5%;
    text-align: left;
    font-weight: bold;
    font-size: 1.2em;
}
.serivces-bottom-two{
    height: 280vh;
}
.bot-two-circle{
  position: absolute;
  top: 10%;
  left: 2%;
  height: 60px;
  width: 60px;
  background-color: #FF6759;
  border-radius: 50px;
}
.bot-two-title-one{
  position: absolute;
  font-size: 5em; 
  text-align: left;
  justify-content: flex-end;
  top: 9%;
  left: 10%;
}
.bot-two-sub-text-one{
  position: absolute;
  left: 2%;
  font-size: 1em;
  font-weight: bold;
  top: 18%;
}
.bot-two-sub-one{
  position: absolute;
  top: 18%;
  right: 33%;
  text-align: left;
  font-weight: bold;
  font-size: 1.2em;
}
.bot-two-sub-two{
  position: absolute;
  top: 18%;
  right: 5%;
  text-align: left;
  font-weight: bold;
  font-size: 1.2em;
}
.filler-bot-two{
    position: relative;
    background-color: red;
    height: 130vh;
    width: 100%;
    top: 40%;
}
.serivces-bottom-three{
  height: 280vh;
  background-color: #FF6759;
}
.marquee-ser{
  margin: 0 auto;
  white-space: nowrap;
  mix-blend-mode: difference;
  overflow: hidden;
  position: absolute;
  color: black;
  top: 90%;
}
.marquee-ser span {
  font-size: 8em;
  display: inline-block;
  padding-left: 100%;
  animation: marquee 160s linear infinite;
}
@keyframes marquee {
  0% {
    transform: translate(-50%, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
.serivces-bottom-four{
   height: 280vh;
   border-bottom: 1px solid black;
}
.bot-three-circle{
  position: absolute;
  top: 10%;
  left: 2%;
  height: 60px;
  width: 60px;
  background-color: #FF6759;
  border-radius: 50px;
}
.bot-three-title-one{
  position: absolute;
  font-size: 5em; 
  text-align: left;
  justify-content: flex-end;
  top: 9%;
  left: 10%;
}
.bot-three-sub-text-one{
  position: absolute;
  left: 2%;
  font-size: 1em;
  font-weight: bold;
  top: 23%;
}
.bot-three-sub-one{
  position: absolute;
  top: 23%;
  right: 33%;
  text-align: left;
  font-weight: bold;
  font-size: 1.2em;
}
.bot-three-sub-two{
  position: absolute;
  top: 23%;
  right: 5%;
  text-align: left;
  font-weight: bold;
  font-size: 1.2em;
}
.bot-four-circle{
  position: absolute;
  top: 44%;
  left: 2%;
  height: 60px;
  width: 60px;
  background-color: #FF6759;
  border-radius: 50px;
}
.bot-four-title-one{
  position: absolute;
  font-size: 5em; 
  text-align: left;
  justify-content: flex-end;
  top: 43%;
  left: 10%;
}
.bot-four-sub-text-one{
  position: absolute;
  left: 2%;
  font-size: 1em;
  font-weight: bold;
  top: 53%;
}
.bot-four-sub-one{
  position: absolute;
  top: 53%;
  right: 33%;
  text-align: left;
  font-weight: bold;
  font-size: 1.2em;
}
.bot-four-sub-two{
  position: absolute;
  top: 53%;
  right: 5%;
  text-align: left;
  font-weight: bold;
  font-size: 1.2em;
}
.on-pick-four-star{
  height: 40px;
  left: 2%;
  width: auto;
  position: absolute;
  top: 70%;
}
.four-value{
  position: absolute;
  font-size: 1em;
  font-weight: bold;
  left: 6%;
  top: 70.8%;
}
.four-value-text{
  position: absolute;
  font-size: 1.2em;
  font-weight: bold;
  left: 25%;
  text-align: left;
  top: 71%;
}
.serivces-bottom-five{
  height: 40vh;
  border-bottom: 1px solid black;
}
.contact-ques{
  position: absolute;
  font-size: 1.4em;
  font-weight: bold;
  top: 3%;
  left: 2%;
}
.contact-btn{
  position: absolute;
  color: white;
  background-color: #5651ED;
  font-size: 2em;
  left: 2%;
  padding: 6px 95px;
  border-radius: 50px;
  text-decoration: none;
  top: 40%;
  transition: 2s ease-in-out;
}
.contact-btn:hover{
  background-color: #FF6759;
  transition: 2s ease-in-out;
}
.goBtnCentre {
  width: 100%;
  clear: both;
  height: 80px;
}
.goButton {
  position: absolute;
  left: 2%;
  top: 71%; 
  border: 1px solid red;
  border-radius: 50px;
  height: 50px;
  width: 300px;
  transition: 2s ease-in-out;
}
.goButton:hover{
  background-color: red;
  transition: 2s ease-in-out;
}
.goButton:hover h2{
  color: white;
  transition: 2s ease-in-out;
}
.goButton h2 {
  text-align: center;
  font-size: 1.5em;
  color: red;  
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
} 
.box-warn-foot{
  position: absolute;
  height: 70px;
  width: 210px;
  border-radius: 10px;
  top: 70%;
  right: 2%;
  background-color: red;
  display: none;
  transition: 2s ease-in-out;
  animation: border-flicker 5s linear infinite;
}
.goButton:hover + .box-warn-foot{
  display: block;
  transition: 2s ease-in-out;
}
.warn-text-foot{
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1em;
}
@keyframes border-flicker {
  0% {
    opacity:0.1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(232, 16, 16, 0.73);
    -moz-box-shadow: 0px 0px 78px 4px rgba(232, 16, 16, 0.73);
    box-shadow: 0px 0px 78px 4px rgba(232, 16, 16, 0.73);
  }
  2% {
    opacity:1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(232, 16, 16, 0.73);
    -moz-box-shadow: 0px 0px 78px 4px rgba(232, 16, 16, 0.73);
    box-shadow: 0px 0px 78px 4px rgba(232, 16, 16, 0.73);
  }
  4% {
    opacity:0.1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(232, 16, 16, 0.73);
    -moz-box-shadow: 0px 0px 78px 4px rgba(232, 16, 16, 0.73);
    box-shadow: 0px 0px 78px 4px rgba(232, 16, 16, 0.73);
  }
  
  8% {
    opacity:1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(232, 16, 16, 0.73);
    -moz-box-shadow: 0px 0px 78px 4px rgba(232, 16, 16, 0.73);
    box-shadow: 0px 0px 78px 4px rgba(232, 16, 16, 0.73);
  }
  70% {
    opacity:0.7;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(232, 16, 16, 0.73);
    -moz-box-shadow: 0px 0px 78px 4px rgba(232, 16, 16, 0.73);
    box-shadow: 0px 0px 78px 4px rgba(232, 16, 16, 0.73);
  }
  100% {
    opacity:1;
    -webkit-box-shadow: 0px 0px 78px 4px rgba(232, 16, 16, 0.73);
    -moz-box-shadow: 0px 0px 78px 4px rgba(232, 16, 16, 0.73);
    box-shadow: 0px 0px 78px 4px rgba(232, 16, 16, 0.73);
  }
}







.serivces-bottom-six{
  height: 70vh;
}
.linkin{
  position: absolute;
  text-decoration: none;
  color: black;
  font-size: 1.3em;
  left: 3%;
}
.link-one{
  top: 10%;
}
.link-two{
  top: 20%;
}
.link-three{
  top: 30%;
}
.link-four{
  top: 40%;
}
.link-five{
  top: 50%;
}
.linkin:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.linkin:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.location{
  position: absolute;
  font-size: 1.3em;
  color: black;
  top: 10%;
  left: 15%;
}
#ct{
  position: absolute;
  font-size: 1.3em;
  color: black;
  top: 30%;
  left: 15%;
}
.mail-just{
  position: absolute;
  text-decoration: none;
  font-size: 1.3em;
  color: black;
  top: 50%;
  left: 15%;
  transition: 2s ease-in-out;
}
.mail-just:hover{
  color: #FF6759;
  transition: 2s ease-in-out;
}
.logo-foot{
  position: absolute;
  font-size: 8em;
  text-align: center;
  top: 55%;
}
.redder{
  color: #FF6759;
}
.privacy-btn{
  position: absolute;
  color: white;
  background-color: black;
  font-size: 1em;
  padding: 6px 50px;
  border-radius: 50px;
  text-decoration: none;
  top: 90%;
  right: 5%;
  transition: 2s ease-in-out;
  z-index: 2;
}
.privacy-btn:hover{
  background-color: #FF6759;
  transition: 2s ease-in-out;
}
.terms-btn{
  position: absolute;
  color: white;
  background-color: black;
  font-size: 1em;
  padding: 6px 50px;
  border-radius: 50px;
  text-decoration: none;
  top: 90%;
  right: 30%;
  transition: 2s ease-in-out;
  z-index: 2;
}
.terms-btn:hover{
  background-color: #FF6759;
  transition: 2s ease-in-out;
}
.chaniru-btn{
  position: absolute;
  color: white;
  background-color: black;
  font-size: 1em;
  padding: 6px 50px;
  border-radius: 50px;
  text-decoration: none;
  top: 90%;
  left: 3%;
  transition: 2s ease-in-out;
  z-index: 2;
}
.chaniru-btn:hover{
  background-color: #FF6759;
  transition: 2s ease-in-out;
}



































































/*! locomotive-scroll v3.1.7 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden;
}
html.has-scroll-dragging,
html.has-scroll-dragging * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.has-scroll-smooth body {
  overflow: hidden;
}
.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100vh;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}
.c-scrollbar:hover {
  transform: scaleX(1.45);
}
.c-scrollbar:hover,
.has-scroll-dragging .c-scrollbar,
.has-scroll-scrolling .c-scrollbar {
  opacity: 1;
}
.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #e27c7c;
  width: 2px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}
.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}